/*==========================================
  =            weui style rewrite            =
  ==========================================*/
.weui-picker-container {
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.weui-actionsheet {
  padding: .2rem;
  background-clip: content-box;
  background-color: transparent;
}

.weui-actionsheet__menu {
  border-radius: .12rem;
  color: #4766ed;
  background-color: #ffffff;
}

.weui-actionsheet__action {
  line-height: .98rem;
  border-radius: .12rem;
  margin-top: .2rem;
  background-color: #ffffff;
}

.weui-actionsheet__cell {
  padding: 0;
  line-height: .98rem;
  font-size: .28rem;
}

.placeholder-box {
  height: .3rem;
}

.weui-picker-modal .picker-items {
  font-size: .24rem;
}

.toolbar .toolbar-inner {
  height: 1rem;
}

.toolbar .title {
  line-height: 1rem;
  font-size: .28rem;
}

.toolbar {
  font-size: .28rem;
}

.toolbar .picker-button {
  height: 1rem;
  line-height: 1rem;
}

.weui-picker-modal {
  height: 4.3rem;
}

.weui-picker-modal .picker-modal-inner {
  height: 3.3rem;
}

.weui-picker-modal,
.toolbar {
  background-color: #fff;
}

.toolbar .picker-button {
  color: #00aeff
}

.weui-picker-modal .picker-item {
  color: rgb(169, 169, 169);
  font-size: .24rem;
  line-height: .8rem;
}

.weui-picker-modal .picker-item.picker-selected {
  color: #1c1c20;
  font-size: .32rem;
}

.weui-picker-modal .picker-center-highlight {
  margin-top: -.44rem;
  height: .88rem;
  z-index: 99999;
}

.weui-picker-modal .picker-item {
  padding: 0 15px;
}

.datatime-picker::-webkit-input-placeholder {
  color: #95a0b5;
}

.datatime-picker::-moz-placeholder {
  color: #95a0b5;
}

.datatime-picker:-moz-placeholder {
  color: #95a0b5;
}

.datatime-picker:-ms-input-placeholder {
  color: #95a0b5;
}

.weui-picker-modal .picker-item {
  height: .8rem;
  line-height: .8rem;
}

/*=====  End of weui style rewrite  ======*/
input,
textarea {
  font-family: 'Microsoft YaHei', Arial;
}

[v-cloak] {
  display: none;
}

.public-color-success {
  color: #00aeff !important;
}

.public-color-fail {
  color: #ff4040 !important;
}

.public-bgimg {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

.public-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.public-wbg {
  min-height: 100vh;
  background-color: #fff;
}

.public-gbg {
  min-height: 100vh;
  background-color: #f7f7f7;
}

.public-search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: .64rem;
  padding: 0 .3rem;
  -webkit-border-radius: .12rem;
  border-radius: .12rem;
  background-color: rgba(255, 255, 255, .3);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-search img {
  width: .22rem;
}

.public-search input {
  font-size: .28rem;
  height: .64rem;
  margin-left: .2rem;
  color: #fff;
  border: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-search input::-webkit-input-placeholder {
  color: #c5effa;
}

.public-search input::-moz-placeholder {
  color: #c5effa;
}

.public-search input:-moz-placeholder {
  color: #c5effa;
}

.public-search input:-ms-input-placeholder {
  color: #c5effa;
}

.public-item-collection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: .2rem;
}

.public-item-collection .item {
  width: 25%;
  padding: .2rem 0;
}

.public-item-collection .item img {
  display: block;
  width: .9rem;
  margin: 0 auto;
}

.public-item-collection .item p {
  font-size: .24rem;
  margin-top: .1rem;
  text-align: center;
  color: #fff;
}

.public-bottom-line:after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  content: '';
  -webkit-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  transform: scaleY(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-bottom: 1px solid #ededed;
}

.public-left-line:before {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  height: 100%;
  content: '';
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-left: 1px solid #ededed;
}

.public-top-line:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  -webkit-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  transform: scaleY(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-bottom: 1px solid #ededed;
}

.public-right-line:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 100%;
  content: '';
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-left: 1px solid #ededed;
}

.public-footer-nav {
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: .98rem;
  background-color: #fff;
  -webkit-box-shadow: 0 -14px 28px 0 rgba(0, 0, 0, .06);
  box-shadow: 0 -14px 28px 0 rgba(0, 0, 0, .06);
}

.public-footer-nav .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding-top: .1rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-footer-nav .item img {
  display: block;
  width: .4rem;
  margin: 0 auto;
}

.public-footer-nav .item p {
  font-size: .24rem;
  text-align: center;
  color: #ccc;
}

.public-footer-nav .item.active p {
  color: #00aeff;
}

.public-input-box-type01 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-input-box-type01 input {
  height: 1rem;
  color: #fff;
  border: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-input-box-type01 .clear-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: .3rem;
  height: .3rem;
  margin: auto;
  padding: .3rem 0 .3rem .3rem;
}

.public-input-box-type01 input::-webkit-input-placeholder {
  color: #ccc;
}

.public-input-box-type01 input::-moz-placeholder {
  color: #ccc;
}

.public-input-box-type01 input:-moz-placeholder {
  color: #ccc;
}

.public-input-box-type01 input:-ms-input-placeholder {
  color: #ccc;
}

.public-input-box-type02 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-input-box-type02 input {
  height: 1rem;
  color: #1b1b1f;
  border: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-input-box-type02 .clear-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: .3rem;
  height: .3rem;
  margin: auto;
  padding: .3rem 0 .3rem .3rem;
}

textarea::-webkit-input-placeholder,
.public-input-box-type03 input::-webkit-input-placeholder,
.public-input-box-type-vercode .lside input::-webkit-input-placeholder,
.public-input-box-type02 input::-webkit-input-placeholder {
  color: #ccc;
}

textarea:-moz-placeholder,
.public-input-box-type03 input::-moz-placeholder,
.public-input-box-type-vercode .lside input::-moz-placeholder,
.public-input-box-type02 input::-moz-placeholder {
  color: #ccc;
}

textarea:-ms-input-placeholder,
.public-input-box-type03 input:-ms-input-placeholder,
.public-input-box-type-vercode .lside input:-ms-input-placeholder,
.public-input-box-type02 input:-ms-input-placeholder {
  color: #ccc;
}

.public-input-box-type-vercode {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-input-box-type-vercode .lside {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-input-box-type-vercode .lside input {
  height: 1rem;
  color: #1b1b1f;
  border: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-input-box-type-vercode .lside .clear-input {
  position: absolute;
  top: 0;
  right: .2rem;
  bottom: 0;
  display: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: .3rem;
  height: .3rem;
  margin: auto;
  padding: .3rem 0 .3rem .3rem;
}

.public-input-box-type-vercode .get-vercode {
  color: #1b1b1f;
}

.public-input-box-type-vercode .get-vercode.gray {
  color: #999;
}

.public-input-box-type03 {
  font-size: .3rem;
  color: #333;
  padding-right: .3rem;
  position: relative;
  height: 1rem;
}

.public-input-box-type03 .lside {}

.public-input-box-type03 .lside .name {
  padding-right: .1rem;
}

.public-input-box-type03 .lside .icons{
  width:0.4rem;
  height: 0.4rem;
  margin:0;
  margin-right: 0.3rem;
}

.public-input-box-type03 .lside .require {
  color: #ff0000;
  position: relative;
  top: .04rem;
}

.public-input-box-type03 .tags {
  color: #b3b3b3;
  text-align: right;
  padding: 0 0 0 .2rem;
  font-size: 0;
}

.public-input-box-type03 .tags .public-tags-blue {
  margin-left: .2rem;
}

.public-input-box-type03 .input {
  border: 0;
  height: 1rem;
  text-align: right;
  padding: 0 0 0 .3rem;
}

.public-input-box-type03 .icon {
  width: .12rem;
  margin-left: .2rem;
}

.public-btn-type01 {
  font-family: 'Microsoft YaHei', Arial;
  font-size: .3rem;
  line-height: 1rem;
  display: block;
  width: 100%;
  height: 1rem;
  margin-top: .5rem;
  text-align: center;
  color: #fff;
  border: 0;
  -webkit-border-radius: .08rem;
  border-radius: .08rem;
  background-color: #00aeff;
}

.public-btn-type01.gray {
  background-color: #999;
}

.public-btn-type01.yellow {
  background-color: #ffaa30;
}

.public-btn-type02 {
  font-family: 'Microsoft YaHei', Arial;
  font-size: .3rem;
  line-height: 1rem;
  display: block;
  width: 100%;
  height: 1rem;
  text-align: center;
  color: #fff;
  border: 0;
  -webkit-border-radius: .08rem;
  border-radius: .08rem;
  background-color: #00aeff;
}

.public-mask {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, .5);
}

.public-center-middle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.public-pop-type01 {
  width: 5.9rem;
  height: 6.5rem;
  padding: .3rem;
  text-align: center;
  -webkit-border-radius: .06rem;
  border-radius: .06rem;
  background-color: #fff;
}

.public-pop-type01 .icon {
  width: 2.4rem;
  margin-top: .3rem;
}

.public-pop-type01 .title {
  font-size: .32rem;
  font-weight: normal;
  margin-top: .3rem;
  color: #1b1b1f;
}

.public-pop-type01 .remark {
  font-size: .24rem;
  line-height: .44rem;
  color: #999;
}

.public-pop-type01 .remark .blue {
  color: #00aeff;
}

.public-pop-type01 .remark .yellow {
  color: #ffaa30;
}

.public-pop-type01 .time {
  font-family: Arial;
  font-size: .54rem;
  font-weight: bold;
  margin-top: .1rem;
}

.public-pop-type01 .time.blue {
  color: #00aeff;
}

.public-pop-type01 .time.yellow {
  color: #ffaa30;
}

.public-pop-type01 .public-btn-type01 {
  margin-top: .2rem;
}

.public-pop-type02 {
  width: 5.9rem;
  height: 7.2rem;
  -webkit-border-radius: .06rem;
  border-radius: .06rem;
  background-color: #fff;
}

.public-pop-header-type01 {
  font-size: .32rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: .98rem;
  color: #1b1b1f;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-pop-header-type01 .lside {
  padding: 0 .3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-pop-header-type01 .close-icon {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: .26rem;
  height: .26rem;
  padding: .3rem;
}

.public-point-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: .2rem .3rem 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-pop-type-bottom {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.public-pop-type-bottom .header {
  height: .9rem;
  display: flex;
  align-items: center;
  padding: 0 .3rem;
  position: relative;
}

.public-pop-type-bottom .header h3 {
  flex: 1;
  font-size: .3rem;
  font-weight: normal;
}

.public-pop-type-bottom .header p {
  font-size: .3rem;
  color: #7096dc;
}

.public-pop-type-bottom .content {
  flex: 1;
  overflow-y: scroll;
}

.public-pop-type-bottom .content .list-item {
  display: flex;
  align-items: center;
  padding: .2rem .3rem;
  position: relative;
}

.public-pop-type-bottom .content .list-item:last-child:after {
  display: none;
}

.public-pop-type-bottom .content .list-item .lside {
  flex: 1;
}

.public-pop-type-bottom .content .list-item .lside h3 {
  font-size: .3rem;
  font-weight: normal;
  color: #333;
}

.public-pop-type-bottom .content .list-item .lside p {
  font-size: .26rem;
  color: #999;
  padding-top: .02rem;
}

.public-pop-type-bottom .content .list-item .rside {
  font-size: .28rem;
}

.public-pop-type-bottom .content .list-item .rside.yellow {
  color: #ffaa30;
}

.public-pop-type-bottom .content .list-item .rside.blue {
  color: #00aeff;
}

.public-pop-type-bottom .content .list-item .rside.gray {
  color: #b3b3b3;
}

.public-point-line .point {
  width: .12rem;
  height: .12rem;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.public-point-line .point.blue {
  background-color: #00aeff;
}

.public-point-line .point.yellow {
  background-color: #ff9600;
}

.public-point-line .point.green {
  background-color: #13ca7b;
}

.public-point-line .title {
  font-size: .28rem;
  padding: 0 .2rem;
  color: #999;
}

.public-point-line .info {
  font-size: .28rem;
  line-height: .42rem;
  color: #333;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-chosebar {
  background-color: #fff;
  padding: 0.25rem 0.3rem;
  overflow: hidden;
  margin-bottom: 0.12rem;
  position: relative;
}

.public-chosebar .remark {
  float: right;
  color: #999;
  font-size: .26rem;
  line-height: .32rem;
}

.public-chosebar .drops {
  float: left;
  font-size: 0.28rem;
  color: #1c1c20;
  line-height: 1;
}

.public-chosebar .drops input {
  width: 2rem;
  float: left;
  line-height: 0.32rem;
  border: 0;
  padding-right: 0.3rem;
  background: url('../assets/a01.png') no-repeat right center;
  background-size: 0.24rem auto;
}

.public-chosebar .turns {
  overflow: hidden;
  float: right;
}

.public-chosebar .turns .btn {
  font-size: 0.26rem;
  line-height: 0.32rem;
  /*height: 0.32rem;*/
  margin-left: 0.3rem;
  color: #7096dc;
  float: left;
}

.public-chosebar .turns .time {
  font-size: 0.26rem;
  line-height: 0.32rem;
  margin-left: 0.3rem;
  color: #7096dc;
  float: left;
}

.public-chosebar .turns .prev {
  padding-left: 0.2rem;
  background: url('../assets/a02.png') no-repeat left center;
  background-size: 0.12rem auto;
}

.public-chosebar .turns .next {
  padding-right: 0.2rem;
  background: url('../assets/a03.png') no-repeat right center;
  background-size: 0.12rem auto;
}

.public-datepicker-wapper .datepicker-week,
.public-datepicker-wapper .datepicker-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 .27rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.public-datepicker-wapper .datepicker-item {
  font-size: .24rem;
  line-height: .9rem;
  width: 14.28%;
  height: .9rem;
  -webkit-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
  text-align: center;
  outline: none;
  position: relative;
}

.public-datepicker-wapper .datepicker-item.datepicker-item-today:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: .2rem;
  margin: auto;
  width: .16rem;
  height: .04rem;
  background-color: #00aeff;
}

.public-datepicker-wapper .datepicker-item.datepicker-item-yellow {
  background-color: #ffefd9;
}

.public-datepicker-wapper .datepicker-item.datepicker-item-blue {
  background-color: #d9f3ff;
}

.public-datepicker-wapper .datepicker-item.datepicker-item-gray {
  background-color: #f1f1f1;
}

.public-datepicker-wapper .datepicker-week {
  color: #666;
}

.public-datepicker-wapper .datepicker-items {
  font-family: Arial;
  color: #1b1b1f;
}

.public-header-nav-type01 {
  height: .88rem;
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  padding: 0 .3rem;
  z-index: 1000;
}

.public-header-nav-type01 a {
  flex: 1;
  text-align: center;
  position: relative;
  line-height: .88rem;
  height: .88rem;
  color: #666;
  overflow: hidden;
  font-size: .28rem;
}

.public-header-nav-type01 a.active {
  color: #00aeff;
}

.public-header-nav-type01 a.active:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 0.3rem;
  height: 0.04rem;
  background-color: #00aeff;
  z-index: 9;
}

.public-flex-center {
  display: flex;
  align-items: center;
}

.public-flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.public-flex1 {
  flex: 1;
}

.public-grad-layout {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}

.public-grad-layout .item {
  width: 50%;
  text-align: center;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.public-grad-layout .item span {
  display: block;
  font-size: 0.22rem;
  color: #666;
  line-height: 0.3rem;
  height: 0.3rem;
  margin-bottom: 0.2rem;
}

.public-grad-layout .item p {
  display: block;
  font-size: 0.3rem;
  color: #333;
  line-height: 1;
  height: 0.3rem;
  font-weight: bold;
}

.public-grad-layout .item p.yellow {
  color: #ffaa30;
}

.public-grad-layout .item:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  -webkit-transform: scaleY(.5);
  -ms-transform: scaleY(.5);
  transform: scaleY(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-bottom: 1px solid #ededed;
}

.public-grad-layout .item:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  height: 100%;
  content: '';
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-left: 1px solid #ededed;
}

.public-grad-layout .item:nth-child(2n):after {
  display: none;
}

.public-list-btn-type01 {
  background-color: #fff;
  padding-left: .3rem;
}

.public-list-btn-type01 .item {
  position: relative;
  height: 1rem;
  padding-right: .3rem;
}

.public-list-btn-type01 .item:last-child:after {
  display: none;
}

.public-list-btn-type01 .item div {
  font-size: .3rem;
  color: #333;
}

.public-list-btn-type01 .item span {
  font-size: .26rem;
  color: #999;
}

.public-list-btn-type01 .item img {
  width: .12rem;
  margin-left: .2rem;
}

<<<<<<< .mine .public-list-type01 {}

.public-list-type01 .item {
  position: relative;
  padding: .2rem .3rem;
  background-color: #fff;
}

.public-list-type01 .item .lside {
  width: .74rem;
  height: .74rem;
  border-radius: 50%;
}

.public-list-type01 .item .center {
  padding: 0 .3rem
}

.public-list-type01 .item .center h2 {
  font-size: .3rem;
  font-weight: normal;
}

.public-list-type01 .item .center p {
  font-size: .24rem;
  color: #999;
  padding-top: .02rem;
}

.public-list-type01 .item .rside {
  width: .12rem;
}

.public-list-type02 {}

.public-list-type02-content {
  position: relative;
  padding: .2rem .3rem .2rem 0;
}

.public-list-type02 .item {
  background-color: #fff;
  padding: 0 0 0 .3rem;
}

.public-list-type02 .item:last-child .public-list-type02-content:after {
  display: none;
}

.public-list-type02 .item .index {
  font-size: 0.34rem;
  color: #b3b3b3;
  line-height: 0.38rem;
  font-weight: bold;
  padding-right: .2rem;
}

.public-list-type02 .item:nth-child(1) .index,
.public-list-type02 .item:nth-child(2) .index,
.public-list-type02 .item:nth-child(3) .index {
  color: #ffaa30;
}

.public-list-type02 .item .lside {
  width: 0.74rem;
  height: 0.74rem;
  border-radius: 50%;
}

.public-list-type02 .item .center {
  padding: 0 .2rem;
}

.public-list-type02 .item .center h2 {
  font-size: 0.3rem;
  line-height: 1.1;
  color: #333;
  margin-bottom: 0.1rem;
}

.public-list-type02 .item .center p {
  font-size: 0.22rem;
  color: #999;
}

.public-list-type02 .item .remark {
  text-align: center;
}

.public-list-type02 .item .remark .time-lg {
  font-size: .38rem;
  color: #ffaa30;
  padding-right: .2rem;
}

.public-list-type02 .item .remark .time-xs {
  font-size: .28rem;
  color: #ffaa30;
}

.public-list-type02 .item .remark p {
  font-size: .24rem;
  color: #999999;
}

.public-list-type02 .item .rside {
  padding-left: .2rem;
  position: relative;
}

.public-list-type02 .item .rside p {
  font-size: .26rem;
  color: #ccc;
}

.public-list-type02 .item .rside .heart {
  width: .3rem;
  height: .3rem;
  background: url(../assets/dianzan02.png) no-repeat center center;
  background-size: 100% 100%;
}

.public-list-type02 .item .rside.active .heart {
  background: url(../assets/dianzan01.png) no-repeat center center;
  background-size: 100% 100%;
}

.public-list-type02 .item .rside.active p {
  color: #fe586e;
}

.public-list-type02 .item .rside.animate .heart {}

.public-list-type02 .item .rside span {
  font-size: 12px;
  font-weight: normal;
  color: #ffaa30;
  position: absolute;
  top: 10px;
  left: 55%;
  opacity: 0;
}

.public-list-type02 .item .rside.animate span {
  -webkit-animation: flutter 0.5s linear;
  animation: flutter 0.5s 1 linear;
}

.public-list-type02 .item .arrow {
  width: .12rem;
}

@keyframes flutter {
  0% {
    opacity: 0;
    font-size: 12px;
  }

  100% {
    opacity: 1;
    top: -15px;
    left: 65%;
    font-size: 18px;
  }
}

/*外出签到*/
.public-out-clock {
  padding: 0.4rem 1.2rem 0 0.3rem;
}

.public-out-clock h2 {
  font-size: 0.54rem;
  color: #00aeff;
  line-height: 1;
  margin-bottom: 0.25rem;
  font-family: 'Arial';
}

.public-out-clock h3 {
  font-size: 0.34rem;
  line-height: 0.44rem;
  margin-bottom: 0.25rem;
}

.public-out-clock img {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  position: absolute;
  right: 0.3rem;
  top: 0.4rem;
}

.public-btn-group {
  background-color: #fff;
  margin-bottom: .14rem;
  padding: .2rem .3rem 0;
}

.public-btn-group .title {
  font-size: .28rem;
  color: #333;
  line-height: .6rem;
}

.public-btn-group .content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.public-btn-group .item {
  display: block;
  width: 25%;
  text-align: center;
  padding: .22rem 0;
}

.public-btn-group .item img {
  width: .56rem;
  height: .56rem;
}

.public-btn-group .item h5 {
  font-weight: normal;
  color: #333;
  font-size: .26rem;
  padding-top: .04rem;
}

.public-suspension-menu {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
  position: fixed;
  right: .3rem;
  bottom: 1.4rem;
  z-index: 999999;
}

.public-suspension-mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 997;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.public-suspension-menu .list {
  width: 3rem;
  position: absolute;
  bottom: 120%;
  right: -.22rem;
  display: none;
}

.public-suspension-menu .list a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: all ease .4s;
  transform: translateX(200px);
}

.public-suspension-menu .list a:nth-child(1) {
  transition-duration: .5s;
}

.public-suspension-menu .list a:nth-child(2) {
  transition-duration: .4s;
}

.public-suspension-menu .list a:nth-child(3) {
  transition-duration: .3s;
}

.public-suspension-menu .list a span {
  color: #fff;
  position: relative;
  top: -.1rem;
}

.public-suspension-menu .list a img {
  width: 1.56rem;
  height: 1.56rem;
}

.public-suspension-menu .control {
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0px 10px 30px 0px rgba(0, 174, 255, 0.4);
  transition: all ease .3s;
  border-radius: 50%;
  width: 1.04rem;
  height: 1.04rem;
  z-index: 10;
  transform: rotate(0deg);
}

.public-suspension-menu.js-is-show .list {
  display: block;
}

.public-suspension-menu.js-is-show-start .list a {
  transform: translateX(0);
}

.public-suspension-menu.js-is-show .control {
  transform: rotate(45deg);
}

.public-list-type03 {}

.public-list-type03 .item {
  display: flex;
  padding: 0 0 0 .3rem;
  align-items: center;
}

.public-list-type03 .item .lside {
  width: .84rem;
  height: .84rem;
  border-radius: 50%;
  color: #fff;
  line-height: .84rem;
  text-align: center;
  font-size: .24rem;
  margin-right: .3rem;
}

.public-list-type03 .item .lside.blue {
  background-color: #00aeff;
}

.public-list-type03 .item .lside.yellow {
  background-color: #ffaa30;
}

.public-list-type03 .item .lside.green {
  background-color: #4bd79a;
}

.public-list-type03 .item .rside {
  flex: 1;
  padding-right: .2rem;
  position: relative;
  padding: .3rem .2rem .3rem 0;
  overflow: hidden;
}

.public-list-type03 .item .rside .title {
  font-size: .32rem;
  color: #333;
  font-weight: normal;
}

.public-list-type03 .item .rside .remark {
  font-size: .24rem;
  color: #999;
  font-weight: normal;
  margin-bottom: .1rem;
}

.public-list-type03 .item .rside p {
  font-size: .24rem;
}

.public-list-type03 .item .rside p .txt {
  color: #666;
}

.public-list-type03 .item .rside p .tag {}

.public-list-type03 .item .rside p .right {
  color: #00aeff;
  float: right;
}

.public-tags-blue {
  background-color: rgba(0, 174, 255, .15);
  color: #00aeff;
  padding: .04rem .1rem;
  border-radius: .04rem;
  font-size: .2rem;
}

.public-tags-green {
  background-color: rgba(75, 215, 154, .15);
  color: #4bd79a;
  padding: .04rem .1rem;
  border-radius: .04rem;
  font-size: .2rem;
}

.public-tags-yellow {
  background-color: rgba(245, 182, 10, .15);
  color: #f5b60a;
  padding: .04rem .1rem;
  border-radius: .04rem;
  font-size: .2rem;
}

.public-tags-yellow-dark {
  background-color: #ffaa30;
  color: #fff;
  padding: .04rem .1rem;
  border-radius: .04rem;
  font-size: .2rem;
}

.public-tags-blue-dark {
  background-color: #00aeff;
  color: #fff;
  padding: .04rem .1rem;
  border-radius: .04rem;
  font-size: .2rem;
}

.public-tags-red-dark {
  background-color: #ff5f6e;
  color: #fff;
  padding: .04rem .1rem;
  border-radius: .04rem;
  font-size: .2rem;
}

.public-list-type04 {
  background-color: #fff;
}

.public-list-type04 .item {
  padding-left: .3rem;
}

.public-list-type04 .item .lside {
  width: .46rem;
  margin-right: .3rem;
}

.public-list-type04 .item .rside {
  height: 1.04rem;
  position: relative;
  padding-right: .3rem;
}

.public-list-type04 .item .rside .txt {
  font-size: .3rem;
  color: #333;
  padding-right: .3rem;
}

.public-list-type04 .item .rside img {
  width: .12rem;
}

.public-list-type04 .item:last-child .rside:after {
  display: none;
}

.public-toggle {
  line-height: .38rem;
  position: relative;
  top: 0;
  left: 0;
  width: .38rem;
  height: .38rem;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.public-toggle:after {
  position: absolute;
  top: 0;
  left: 0;
  width: .38rem;
  height: .38rem;
  content: '';
  background: url('../assets/c28.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.public-toggle:checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: .38rem;
  height: .38rem;
  content: '';
  background: url('../assets/c29.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.public-toggle1 {
  line-height: .26rem;
  position: relative;
  top: 0;
  left: 0;
  width: .26rem;
  height: .26rem;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.public-toggle1:after {
  position: absolute;
  top: 0;
  left: 0;
  width: .26rem;
  height: .26rem;
  content: '';
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.public-toggle1:checked:after {
  position: absolute;
  top: 0;
  left: 0;
  width: .26rem;
  height: .26rem;
  content: '';
  background: url('../assets/e01.png') no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.no_more {
  font-size: 0.24rem;
  color: #b3b3b3;
  padding: 0.4rem 0.3rem;
  text-align: center;
}

.no_more img {
  display: block;
  width: 0.96rem;
  margin: 0.8rem auto 0.3rem auto;
}

.public-list-type05 {}

.public-list-type05 .item {
  padding: .3rem;
  background-color: #fff;
  overflow: hidden;
  margin-top: .14rem;
}

.public-list-type05 .item .lside {}

.public-list-type05 .item .center {
  padding: 0 .2rem;
}

.public-list-type05 .item .center .title {
  font-size: .3rem;
  color: #333;
  font-weight: normal;
}

.public-list-type05 .item .center .remark {
  font-size: .22rem;
  color: #999;
  font-weight: normal;
  padding-top: .1rem;
}

.public-list-type05 .item .rside {}

.public-list-type05 .item .rside p {
  font-size: .3rem;
  color: #999;
  padding-right: .2rem;
}

.public-list-type05 .item .rside img {
  width: .12rem;
}

.public-toolbar-type01 {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  position: relative;
  z-index: 999;
}

.public-toolbar-type01 a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: .88rem;
  position: relative;
}

.public-toolbar-type01 a:after {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  height: .26rem;
  content: '';
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  border-left: 1px solid #d9d9d9;
}

.public-toolbar-type01 a:last-child:after {
  display: none;
}

.public-toolbar-type01 a span {
  padding: .1rem;
  font-size: .28rem;
}

.public-sort-mask,
.public-screen-mask {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 50;
  display: none;
}

.public-screen-content {
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 52;
  display: none;
}

.public-screen-content .public-input-box-type03 {
  padding-left: .3rem;
}

.public-screen-content .content-box {
  height: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.public-sort-content {
  background-color: #fff;
  padding-left: .3rem;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #fff;
  z-index: 52;
  display: none;
}

.public-screen-content .content-box .navs-box {
  height: 6.5rem;
  width: 1.7rem;
  background-color: #fafafa;
  overflow-y: scroll;
}

.public-screen-content .content-box .navs-box a {
  line-height: .98rem;
  text-align: center;
  display: block;
  font-size: .28rem;
}

.public-screen-content .content-box .navs-box a.active {
  background-color: #fff;
}

.public-screen-content .content-box .list-box {
  height: 6.5rem;
  width: 100%;
  flex: 1;
  background-color: #fff;
  overflow-y: scroll;
}

.public-screen-content .content-box .list-box .list-box-item {
  display: none;
  padding-left: .3rem;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper {
  display: flex;
  align-items: center;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper .list2-nav {
  height: 6.5rem;
  overflow-y: scroll;
  width: 1.7rem;
  position: relative;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper .list2-nav a {
  line-height: .98rem;
  text-align: center;
  display: block;
  font-size: .28rem;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper .list2-nav a.active {
  color: #00aeff;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper .public-choose-box-type01 {
  padding-left: .3rem;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper .list2-tab-item-wapper {
  height: 6.5rem;
  overflow-y: scroll;
  flex: 1;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper .list2-tab-item-wapper .list2-tab-item {
  display: none;
}

.public-screen-content .content-box .list-box .list-box-item .list2-tab-wapper .list2-tab-item-wapper .list2-tab-item:first-child {
  display: block;
}

.public-screen-content .content-box .list-box .list-box-item:first-child {
  display: block;
}

.public-choose-box-type01 {
  position: relative;
  padding-right: .3rem;
  height: .88rem;
  font-size: .28rem;
}

.public-sort-content .footer-box,
.public-screen-content .footer-box {
  display: flex;
  padding: 0 .3rem;
  align-items: center;
  height: 1.3rem;
}

.public-sort-content .footer-box .btn,
.public-screen-content .footer-box .btn {
  font-size: .3rem;
  color: #333;
  border: solid 1px #e6e6e6;
  height: .9rem;
  border-radius: 6px;
  flex: 1;
  text-align: center;
  line-height: .9rem;
  margin-right: .3rem;
}

.public-sort-content .footer-box .btn:last-child,
.public-screen-content .footer-box .btn:last-child {
  margin-right: 0;
}

.public-sort-content .footer-box .btn.fill-btn,
.public-screen-content .footer-box .btn.fill-btn {
  background-color: #00aeff;
  border-color: #00aeff;
  color: #fff;
}

.public-textarea-box-type01 {
  padding: .1rem 0;
}

.public-textarea-box-type01 .title {
  font-size: .28rem;
  color: #1c1c20;
  line-height: .6rem;
}

.public-textarea-box-type01 textarea {
  width: 100%;
  min-height: 2rem;
  border: 0;
}

.public-time-line {
  padding: 0 .3rem;
}

.public-time-line .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-time-line .item .time-box {
  padding-right: .3rem;
  font-size: .26rem;
  color: #333;
  text-align: right;
}

.public-time-line .item .lside {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.public-time-line .item .lside:after,
.public-time-line .item .lside:before {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  display: block;
  width: 1px;
  height: .3rem;
  margin: auto;
  content: '';
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: #e5e5e5;
}

.public-time-line .item .lside:after {
  bottom: 0;
}

.public-time-line .item .lside:before {
  top: 0;
}

.public-time-line .item:first-child .lside:before {
  display: none;
}

.public-time-line .item:last-child .lside:after {
  display: none;
}

.public-time-line .item .lside img {
  width: .48rem;
}

.public-time-line .item .center {
  overflow: hidden;
  padding: 0 .3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.public-time-line .item .center h3 {
  font-size: .32rem;
  font-weight: normal;
  color: #333;
}

.public-time-line .item .center p {
  font-size: .28rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  -o-text-overflow: ellipsis;
}

.public-time-line .item .rside {
  text-align: right;
}

.public-time-line .item .rside img {
  width: .12rem;
}

.public-time-line .item .rside .time {
  font-size: .2rem;
  display: block;
  color: #999;
}

.public-time-line .item .rside .badge {
  font-size: .2rem;
  line-height: .38rem;
  display: inline-block;
  width: .38rem;
  height: .38rem;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fe666c;
}

.public-line-title {
  font-size: .34rem;
  color: #333;
  font-weight: bold;
  padding: 0 .3rem;
  position: relative;
}

.public-line-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: .06rem;
  height: .26rem;
  background-color: #00aeff;
}
