input {
  font-family: 'Microsoft YaHei', Arial;
}

/*===================================================
=                       登陆                        =
====================================================*/
.login-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.login-page .title {
  font-size: .68rem;
  color: #fff;
  font-weight: normal;
  margin: 1rem 0;
  opacity: .8;
}

.login-page .title span {
  font-size: .34rem;
  display: block;
}

.login-page .remark {
  position: fixed;
  bottom: .4rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: .24rem;
  height: .4rem;
  line-height: .4rem;
  opacity: .8;
}

.login-page .content {
  position: fixed;
  left: .6rem;
  top: 0;
  bottom: .8rem;
  right: .6rem;
  overflow-y: scroll;
}

.login-page .login-btn {
  height: 1rem;
  background-color: rgba(255, 255, 255, .2);
  border-radius: .08rem;
  color: #fff;
  width: 100%;
  border: 0;
  margin-top: .5rem;
  font-size: .3rem;
  font-family: 'Microsoft YaHei', Arial;
}

.login-page .login-btn.active {
  background-color: #00aeff;
}

.login-page .forget {
  font-size: .28rem;
  line-height: .72rem;
  color: #ffffff;
  display: block;
  text-align: right;
  margin-top: .15rem;
}

/*===================================================
=                     忘记密码                      =
====================================================*/
.forget-page {
  padding: .6rem;
}

.forget-page .title {
  font-size: .42rem;
  color: #1b1b1f;
  margin: .2rem 0 .4rem;
  font-weight: normal;
}

.forget-page .title span {
  font-size: .3rem;
  color: #999;
  display: block;
  margin-bottom: .1rem;
}

/*===================================================
=                       首页                        =
====================================================*/
.index-page .header {
  position: relative;
  overflow: hidden;
  height: 3.5rem;
  -webkit-animation: gradient 7.5s ease-in-out infinite;
  animation: gradient 7.5s ease-in-out infinite;
  background: #0299d8;
  background: -webkit-linear-gradient(45deg, #4766ed 0, #13bdce 33%, #0094d9 66%, #6fc7b5 100%);
  background: -o-linear-gradient(45deg, #4766ed 0, #13bdce 33%, #0094d9 66%, #6fc7b5 100%);
  background: linear-gradient(45deg, #4766ed 0, #13bdce 33%, #0094d9 66%, #6fc7b5 100%);
  background-position: 0 100%;
  -webkit-background-size: 400% 400%;
  background-size: 400%;
}

@-webkit-keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

.index-page .header .header-content {
  position: relative;
  z-index: 9999;
  padding: .2rem .3rem;
}

.index-page .header #canvas {
  position: absolute;
  z-index: 3;
  top: 0;
  left: -40%;
  width: 180%;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}

.index-page .bind-wechat {
  font-size: .26rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: .8rem;
  padding: 0 .3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-page .bind-wechat img {
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: .3rem;
  height: .3rem;
  padding: .2rem .2rem .2rem 0;
}

.index-page .bind-wechat p {
  color: #333;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.index-page .bind-wechat a {
  line-height: 1rem;
  padding-left: .3rem;
  color: #00aeff;
}

.index-page .list-wapper {
  padding: .3rem;
}

.index-page .list-wapper .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-page .list-wapper .item .lside {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-page .list-wapper .item .lside:after,
.index-page .list-wapper .item .lside:before {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  display: block;
  width: 1px;
  height: .3rem;
  margin: auto;
  content: '';
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: #e5e5e5;
}

.index-page .list-wapper .item .lside:after {
  bottom: 0;
}

.index-page .list-wapper .item .lside:before {
  top: 0;
}

.index-page .list-wapper .item:first-child .lside:before {
  display: none;
}

.index-page .list-wapper .item:last-child .lside:after {
  display: none;
}

.index-page .list-wapper .item .lside img {
  width: .48rem;
}

.index-page .list-wapper .item .center {
  overflow: hidden;
  padding: 0 .3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.index-page .list-wapper .item .center h3 {
  font-size: .32rem;
  font-weight: normal;
  color: #333;
}

.index-page .list-wapper .item .center p {
  font-size: .28rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  -o-text-overflow: ellipsis;
}

.index-page .list-wapper .item .center p span {
  padding-left: .3rem;
}

.index-page .list-wapper .item .rside {
  text-align: right;
}

.index-page .list-wapper .item .rside .time {
  font-size: .2rem;
  display: block;
  color: #999;
}

.index-page .list-wapper .item .rside .badge {
  font-size: .2rem;
  line-height: .38rem;
  display: inline-block;
  width: .38rem;
  height: .38rem;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fe666c;
}

/*===================================================
=                      报岗记录                     =
====================================================*/
.report-record-page {
  min-height: 100vh;
  background-color: #fff;
}

.report-record-page .calendar-wapper {
  border-bottom: .14rem solid #f7f7f7;
}

.report-record-page .record {
  padding: 0rem 0.3rem;
}

.report-record-page .record-header {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: .3rem;
  align-items: center;
}

.report-record-page .record-header:before {
  content: '';
  display: block;
  width: .6rem;
  height: .6rem;
  position: absolute;
  left: -.3rem;
  top: -.3rem;
  border-radius: 50%;
  background-color: #ff9600;
}

.report-record-page .record-header .lside {
  flex: 1;
}

.report-record-page .record-header .lside h3 {
  font-size: .3rem;
  color: #333;
  font-weight: normal;
}

.report-record-page .record-header .lside p {
  font-size: .26rem;
  color: #999;
  padding-top: .1rem;
}

.report-record-page .record-header .rside {
  color: #999;
  font-size: .26rem;
  display: flex;
  align-items: center;
}

.report-record-page .record-header .rside img {
  width: .12rem;
  margin-left: .1rem;
}

.report-record-page .record .item {
  padding: 0.36rem 0;
}

.report-record-page .record .item .set {
  padding-left: 0.5rem;
  background: url('../assets/shang.png') no-repeat left center;
  background-size: 0.3rem auto;
  font-size: 0.26rem;
  color: #999;
  line-height: 0.34rem;
  margin-bottom: 0.16rem;
}

.report-record-page .record .item:last-child .set {
  background: url('../assets/xia.png') no-repeat left center;
  background-size: 0.3rem auto;
}

.report-record-page .record .item .info {
  padding-left: 0.5rem;
}

.report-record-page .record .item .info .status {
  overflow: hidden;
  line-height: 0.36rem;
}

.report-record-page .record .item .info .status span {
  font-size: 0.34rem;
  line-height: 0.38rem;
  height: 0.38rem;
  color: #333;
  float: left;
  font-weight: bold;
  display: block;
}

.report-record-page .record .item .info .status i {
  display: block;
  float: left;
  font-size: 0.2rem;
  color: #00aeff;
  padding: 0.04rem 0.06rem;
  border-radius: 0.04rem;
  line-height: 1;
  border: 0.02rem solid #00aeff;
  margin-left: 0.2rem;
}

.report-record-page .record .item .info .status i.later {
  border: 0.02rem solid #ff9600;
  color: #ff9600;
}

.report-record-page .record .item .info .position {
  margin: 0.2rem 0;
  padding-left: 0.35rem;
  background: url('../assets/dizhi.png') no-repeat left center;
  background-size: 0.26rem auto;
  font-size: 0.24rem;
  color: #999;
  line-height: 1.1;
}

.report-record-page .record .item .info .links {
  overflow: hidden;
}

.report-record-page .record .item .info .links span {
  display: block;
  float: left;
  margin-right: 0.55rem;
  font-size: 0.24rem;
  color: #7096dc;
  line-height: 1.3;
}

.report-record-page .record-empty {
  text-align: center;
}

.report-record-page .record-empty img {
  width: .96rem;
  position: relative;
  left: .06rem;
}

.report-record-page .record-empty p {
  font-size: .24rem;
  color: #999;
}

.report-record-page .jumpa {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  right: 0.3rem;
  bottom: 1rem;
}

.report-record-page .jumpa img {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
}

/*===================================================
=                       月统计                      =
====================================================*/
.count-days-page .count-box {
  padding: .3rem;
  background-color: #fff;
}

.count-days-page .count-box .lside h3 {
  font-size: .52rem;
  color: #333;
}

.count-days-page .count-box .lside p {
  font-size: .26rem;
  color: #666;
}

.count-days-page .count-box .rside {
  color: #7096dc;
  font-size: .26rem;
}

/*===================================================
=                       工作                      =
====================================================*/
.work-page .notice {
  border-top: .14rem solid #f7f7f7;
  margin-bottom: .14rem;
  height: 1.24rem;
  background-color: #fff;
  padding: 0 .3rem;
}

.work-page .notice .lside {
  width: .3rem;
  margin-right: .2rem;
}

.work-page .notice .center {
  height: .94rem;
  position: relative;
  overflow: hidden;
}

.work-page .notice .rside {
  font-size: .26rem;
  color: #7096dc;
  padding: 0 0 0 .3rem;
}

.work-page .swiper-container {
  width: 100%;
  height: 100%;
}

.work-page .swiper-slide {
  text-align: left;
  font-size: .28rem;
  color: #666;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  line-height: .94rem;
}

/*===================================================
=                       日程                      =
====================================================*/
.schedule-page .header {
  height: .88rem;
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 .3rem 0 0;
  top: 0;
  z-index: 99;
}

.schedule-page .header .lside a {
  line-height: .88rem;
  padding: 0 .3rem;
  font-size: .28rem;
  color: #333;
  position: relative;
}

.schedule-page .header .lside a.active {
  color: #00aeff;
}

.schedule-page .header .lside a.active:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 0.3rem;
  height: 0.04rem;
  background-color: #00aeff;
  z-index: 9;
}

.schedule-page .header .rside {
  text-align: right;
  justify-content: flex-end;
}

.schedule-page .header .rside img {
  width: .3rem;
}

.schedule-page .header .rside span {
  font-size: .28rem;
  color: #333;
  padding-left: .1rem;
}

.schedule-page .calendar {
  width: 100%;
  background-color: #fff;
  overflow-x: scroll;
  white-space: nowrap;
  padding: .15rem .1rem;
}

.schedule-page .calendar a {
  display: inline-block;
  width: 13.5%;
  text-align: center;
}

.schedule-page .calendar a i {
  display: block;
  font-size: .22rem;
  color: #666;
}

.schedule-page .calendar a span {
  display: block;
  width: .5rem;
  height: .5rem;
  margin: 0 auto;
  border-radius: 50%;
  font-size: .3rem;
  color: #333;
}

.schedule-page .calendar a.active span {
  background-color: #00aeff;
  color: #fff;
}

.schedule-page .content-wapper {
  border-top: .14rem solid #f7f7f7;
  margin-bottom: .2rem;
}

.schedule-page .content-wapper>.title {
  padding: .2rem .3rem;
}

.schedule-page .content-wapper>.title .lside p {
  font-size: .24rem;
  color: #999;
  padding-bottom: .1rem;
}

.schedule-page .content-wapper>.title .lside h3 {
  font-size: .36rem;
  color: #333;
  font-weight: bold;
}

.schedule-page .content-wapper>.title .rside {
  width: .58rem;
}

.schedule-page .content-wapper .empty-status {
  padding: .3rem;
  background: url(../assets/d01.png) no-repeat 92% .4rem;
  background-size: 1.16rem .94rem;
}

.schedule-page .content-wapper .empty-status h3 {
  font-size: .36rem;
  color: #333;
  font-weight: bold;
}

.schedule-page .content-wapper .empty-status p {
  font-size: .26rem;
  color: #666666;
  padding-top: .1rem;
}

.schedule-page .content-wapper .empty-status a {
  display: block;
  width: 2rem;
  height: .8rem;
  line-height: .8rem;
  color: #fff;
  text-align: center;
  background-color: #00aeff;
  border-radius: 6px;
  margin-top: .6rem;
}

/*===================================================
=                       个人中心                      =
====================================================*/
.center-page .header {
  padding: .5rem .3rem;
  background-color: #fff;
  position: relative;
}

.center-page .header .lside {
  width: 1.22rem;
  height: 1.22rem;
  border-radius: 50%;
}

.center-page .header .center {
  padding: 0 .3rem;
}

.center-page .header .center h2 {
  font-size: .32rem;
  color: #1c1c20;
}

.center-page .header .center p {
  font-size: .24rem;
  color: #666;
  padding: .04rem 0 .1rem 0;
}

.center-page .header .rside {
  width: .12rem;
}

.center-page .code-wapper {
  background-color: #fff;
  position: relative;
  border-top: .14rem solid #f7f7f7;
  height: .6rem;
}

.center-page .code-wapper img {
  width: 1.44rem;
  height: 1.44rem;
  position: absolute;
  right: 0;
  bottom: -.25rem;
}

.center-page .login-out {
  display: block;
  background-color: #fff;
  line-height: 1rem;
  text-align: center;
  border-top: .14rem solid #f7f7f7;
  font-size: .3rem;
  color: #333;
}

/*===================================================
=                       添加客户                    =
====================================================*/
.customer-add-page {
  padding-top: .14rem;
}

.customer-add-page .input-group {
  background-color: #fff;
  padding-left: .3rem;
  margin-bottom: .14rem;
}

.customer-add-page .submit {
  padding: .3rem;
}

/*===================================================
=                      客户列表                     =
====================================================*/
.customer-list-page .customer-list-list .item {}

.customer-list-page .customer-list-list .item .lside {
  width: .8rem;
  height: .8rem;
  border-radius: 100%;
  background-color: #d4d4d4;
  color: #fff;
  font-size: .22rem;
  margin: .3rem;
}

.customer-list-page .customer-list-list .item .lside.active {
  background-color: #00aeff;
}

.customer-list-page .customer-list-list .item .center {
  padding: .3rem .3rem .3rem 0;
  position: relative;
}

.customer-list-page .customer-list-list .item .center h2 {
  font-size: .3rem;
  color: #333;
  font-weight: normal;
}

.customer-list-page .customer-list-list .item .center h2 span {
  font-size: .24rem;
  color: #666;
}

.customer-list-page .customer-list-list .item .center p {
  font-size: .22rem;
  color: #666;
  padding: .06rem 0 .1rem;
}

.customer-list-page .customer-list-list .item .center .bottom {
  font-size: .2rem;
  color: #999;
}

.customer-list-page .customer-list-list .item .center .middle {
  font-size: .22rem;
  color: #333;
  padding: .06rem 0 .1rem;
}

.customer-list-page .customer-list-list .item .center .middle img {
  width: .24rem;
  margin-right: .1rem;
}

.customer-list-page .customer-list-list .item .public-tags-blue {
  margin-left: .2rem;
}

/*===================================================
=                       我的日报                      =
====================================================*/
.deily-me-page .calendar-wapper {
  border-bottom: .14rem solid #f7f7f7;
}

.deily-me-page .page-empty {
  text-align: center;
  padding-top: 1rem;
  color: #999;
  font-size: .28rem;
}

.deily-me-page .page-empty img {
  width: .96rem;
  position: relative;
  left: .06rem;
  margin-bottom: .2rem;
}

.deily-me-page .content-header {
  padding: .4rem 0;
}

.deily-me-page .content-header .item .block {
  width: 1rem;
  height: .3rem;
}

.deily-me-page .content-header .item span {
  font-size: .24rem;
  color: #666;
  padding: 0 .3rem;
}

.deily-me-page .content-header .item div.yellow {
  background-color: #ffefd9;
}

.deily-me-page .content-header .item div.blue {
  background-color: #d9f3ff;
}

.deily-me-page .content-header .item div.gray {
  background-color: #f1f1f1;
}

.deily-me-page .submit-box {
  text-align: center;
}

.deily-me-page .submit-box h2 {
  font-size: .34rem;
  color: #333;
}

.deily-me-page .submit-box p {
  font-size: .24rem;
  color: #666;
  padding: .1rem 0 .4rem;
}

.deily-me-page .submit-box .btn {
  display: inline-block;
  width: 3rem;
  height: .9rem;
  line-height: .9rem;
  border-radius: 4px;
  color: #fff;
  font-size: .3rem;
  text-align: center;
}

.deily-me-page .submit-box .btn.blue {
  background-color: #00aeff;
}

.deily-me-page .submit-box .btn.yellow {
  background-color: #ffaa30;
}

.deily-me-page .article {
  padding: .3rem;
}

.deily-me-page .article .lside {
  width: .72rem;
  height: .72rem;
  margin-right: .3rem;
  border-radius: 50%;
}

.deily-me-page .article .rside h3 {
  font-size: .28rem;
  color: #333;
  font-weight: normal;
}

.deily-me-page .article .rside h3 span {
  margin-left: .2rem;
}

.deily-me-page .article .rside p {
  font-size: .22rem;
  color: #999;
}

.deily-me-page .article .article-content {
  padding-top: .2rem;
  font-size: .32rem;
  color: #333;
  line-height: .54rem;
  position: relative;
  display: block;
}

.deily-me-page .article .article-content span {
  background-color: #fff;
  color: #00aeff;
  text-indent: 0;
  line-height: .54rem;
}

/*===================================================
=                       客户详情                      =
====================================================*/
.customer-detail-page .header {
  background-color: #fff;
  padding: .3rem;
}

.customer-detail-page .header h1 {
  font-size: .36rem;
  color: #333;
  font-weight: normal;
  padding-bottom: .25rem;
}

.customer-detail-page .header h1 span {
  font-size: .24rem;
}

.customer-detail-page .header p {
  font-size: .24rem;
  color: #666;
  padding: .02rem 0;
}

.customer-detail-page .header div {
  padding-top: .2rem;
  font-size: 0
}

.customer-detail-page .header .public-tags-blue {
  margin-right: .2rem;
}

.customer-detail-page .header .tel {
  width: 1.42rem;
  height: 1.42rem;
  position: absolute;
  right: 0;
  top: .3rem;
}

.customer-detail-page .header .tel img {
  width: 1.42rem;
  height: 1.42rem;
}

.customer-detail-page .business-detail {
  background-color: #fff;
  margin-top: .14rem;
}

.customer-detail-page .business-title {
  padding: .3rem;
}

.customer-detail-page .business-title h2 {
  font-size: .34rem;
  font-weight: bold;
  color: #333;
}

.customer-detail-page .business-title p {
  font-size: .24rem;
  color: #999;
}

.customer-detail-page .business-title .rside {
  width: .58rem;
  height: .58rem;
}

.customer-detail-page .business-time {
  font-size: .36rem;
  color: #333;
  padding: 0 .3rem;
}

.customer-detail-page .business-time span {
  display: block;
}

.customer-detail-page .business-time span.year {
  font-size: .22rem;
  color: #666;
}

.customer-detail-page .customer-info {
  margin-top: .14rem;
  background-color: #fff;
  padding: .3rem 0;
}

.customer-detail-page .customer-info .public-line-title {
  margin-bottom: .2rem;
}

.customer-detail-page .customer-info .info-box {
  display: flex;
  padding: .08rem .3rem;
}

.customer-detail-page .customer-info .info-box .lside {
  font-size: .28rem;
  color: #666;
  width: .8rem;
}

.customer-detail-page .customer-info .info-box .center {
  font-size: .28rem;
  color: #333;
  padding: 0 .2rem;
  flex: 1;
}

.customer-detail-page .customer-info .info-box .rside {}

.customer-detail-page .customer-info .info-box .public-tags-blue {
  margin-right: .2rem;
}

.customer-detail-page .list-btn {
  display: block;
  background-color: #fff;
  line-height: 1rem;
  text-align: center;
  border-top: .14rem solid #f7f7f7;
  font-size: .3rem;
}

/*===================================================
=                      邀约详情                     =
====================================================*/
.customer-invitations-detail-page .customer-info {
  background-color: #fff;
  padding: .3rem 0;
  border-bottom: .14rem solid #f7f7f7;
}

.customer-invitations-detail-page .customer-info.success {
  background: url(../assets/e17.png) no-repeat 4rem .7rem;
  background-size: 3.1rem 3.1rem;
}

.customer-invitations-detail-page .customer-info.fail {
  background: url(../assets/e16.png) no-repeat 4rem .7rem;
  background-size: 3.1rem 3.1rem;
}

.customer-invitations-detail-page .customer-info .public-line-title {
  margin-bottom: .2rem;
}

.customer-invitations-detail-page .customer-info .info-box {
  display: flex;
  padding: .08rem .3rem;
}

.customer-invitations-detail-page .customer-info .info-box .lside {
  font-size: .28rem;
  color: #666;
  width: 1.4rem;
}

.customer-invitations-detail-page .customer-info .info-box .center {
  font-size: .28rem;
  color: #333;
  padding: 0 .2rem;
  flex: 1;
}

.customer-invitations-detail-page .customer-info .info-box .rside {}

.customer-invitations-detail-page .customer-info .info-box .public-tags-blue {
  margin-right: .2rem;
}

.customer-invitations-detail-page .cremark {
  padding: .3rem;
}

.customer-invitations-detail-page .cremark .title {
  font-size: .28rem;
  color: #333;
  padding: 0 0 .1rem 0;
}

.customer-invitations-detail-page .cremark .content {
  font-size: .3rem;
  color: #666;
  line-height: .5rem;
}

.customer-invitations-detail-page .cremark .content.empty {
  color: #999;
}

/*===================================================
=                      公告管理                     =
====================================================*/
.notice-manager-page .notice-list {}

.notice-manager-page .notice-list .item {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  padding: .3rem;
}

.notice-manager-page .notice-list .item .lside {
  width: .48rem;
  height: .48rem;
  border-radius: 50%;
  position: relative;
  top: .08rem;
}

.notice-manager-page .notice-list .item .center {
  padding:0 .3rem;
}

.notice-manager-page .notice-list .item .center h3 {
  font-size: .32rem;
  color: #333;
  font-weight: normal;
}

.notice-manager-page .notice-list .item .center p {
  font-size: .28rem;
  color: #999;
  padding: .06rem 0 .2rem;
}

.notice-manager-page .notice-list .item .center h4 {
  font-size: .28rem;
  color: #00aeff;
  font-weight: normal;
}

.notice-manager-page .notice-list .item .rside {
  width: .4rem;
}
.notice-manager-page .notice-list .item-time {
  line-height: .92rem;
  font-size: .24rem;
  font-weight: normal;
  color: #666;
  text-align: center;
}
.count-punch-card-page .count-punch-card-page-content>.public-list-type01 {
  display: none;
}

.count-punch-card-page .count-punch-card-page-content>.public-list-type01:first-child {
  display: block;
}
