input {
  font-family: 'Microsoft YaHei', Arial;
}

/*===================================================
=                       登陆                        =
====================================================*/
.login-page {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.login-page .title {
  font-size: .68rem;
  color: #fff;
  font-weight: normal;
  margin: 1rem 0;
  opacity: .8;
}

.login-page .title span {
  font-size: .34rem;
  display: block;
}

.login-page .remark {
  position: fixed;
  bottom: .4rem;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: .24rem;
  height: .4rem;
  line-height: .4rem;
  opacity: .8;
}

.login-page .content {
  position: fixed;
  left: .6rem;
  top: 0;
  bottom: .8rem;
  right: .6rem;
  overflow-y: scroll;
}

.login-page .login-btn {
  height: 1rem;
  background-color: rgba(255, 255, 255, .2);
  border-radius: .08rem;
  color: #fff;
  width: 100%;
  border: 0;
  margin-top: .5rem;
  font-size: .3rem;
  font-family: 'Microsoft YaHei', Arial;
}

.login-page .login-btn.active {
  background-color: #00aeff;
}

.login-page .forget {
  font-size: .28rem;
  line-height: .72rem;
  color: #ffffff;
  display: block;
  text-align: right;
  margin-top: .15rem;
}

/*===================================================
=                     忘记密码                      =
====================================================*/
.forget-page {
  padding: .6rem;
}

.forget-page .title {
  font-size: .42rem;
  color: #1b1b1f;
  margin: .2rem 0 .4rem;
  font-weight: normal;
}

.forget-page .title span {
  font-size: .3rem;
  color: #999;
  display: block;
  margin-bottom: .1rem;
}

/*===================================================
=                       首页                        =
====================================================*/
.index-page .header {
  position: relative;
  overflow: hidden;
  height: 3.5rem;
  -webkit-animation: gradient 7.5s ease-in-out infinite;
  animation: gradient 7.5s ease-in-out infinite;
  background: #0299d8;
  background: -webkit-linear-gradient(45deg, #4766ed 0, #13bdce 33%, #0094d9 66%, #6fc7b5 100%);
  background: -o-linear-gradient(45deg, #4766ed 0, #13bdce 33%, #0094d9 66%, #6fc7b5 100%);
  background: linear-gradient(45deg, #4766ed 0, #13bdce 33%, #0094d9 66%, #6fc7b5 100%);
  background-position: 0 100%;
  -webkit-background-size: 400% 400%;
  background-size: 400%;
}

@-webkit-keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

@keyframes gradient {
  50% {
    background-position: 100% 0;
  }
}

.index-page .header .header-content {
  position: relative;
  z-index: 9999;
  padding: .2rem .3rem;
}

.index-page .header #canvas {
  position: absolute;
  z-index: 3;
  top: 0;
  left: -40%;
  width: 180%;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}

.index-page .bind-wechat {
  font-size: .26rem;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: .8rem;
  padding: 0 .3rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-page .bind-wechat img {
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: .3rem;
  height: .3rem;
  padding: .2rem .2rem .2rem 0;
}

.index-page .bind-wechat p {
  color: #333;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.index-page .bind-wechat a {
  line-height: 1rem;
  padding-left: .3rem;
  color: #00aeff;
}

.index-page .list-wapper {
  padding: .3rem;
}

.index-page .list-wapper .item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-page .list-wapper .item .lside {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.index-page .list-wapper .item .lside:after,
.index-page .list-wapper .item .lside:before {
  position: absolute;
  z-index: 1;
  right: 0;
  left: 0;
  display: block;
  width: 1px;
  height: .3rem;
  margin: auto;
  content: '';
  -webkit-transform: scaleX(.5);
  -ms-transform: scaleX(.5);
  transform: scaleX(.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background-color: #e5e5e5;
}

.index-page .list-wapper .item .lside:after {
  bottom: 0;
}

.index-page .list-wapper .item .lside:before {
  top: 0;
}

.index-page .list-wapper .item:first-child .lside:before {
  display: none;
}

.index-page .list-wapper .item:last-child .lside:after {
  display: none;
}

.index-page .list-wapper .item .lside img {
  width: .48rem;
}

.index-page .list-wapper .item .center {
  overflow: hidden;
  padding: 0 .3rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.index-page .list-wapper .item .center h3 {
  font-size: .32rem;
  font-weight: normal;
  color: #333;
}

.index-page .list-wapper .item .center p {
  font-size: .28rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #999;
  -o-text-overflow: ellipsis;
}

.index-page .list-wapper .item .center p span {
  padding-left: .3rem;
}

.index-page .list-wapper .item .rside {
  text-align: right;
}

.index-page .list-wapper .item .rside .time {
  font-size: .2rem;
  display: block;
  color: #999;
}

.index-page .list-wapper .item .rside .badge {
  font-size: .2rem;
  line-height: .38rem;
  display: inline-block;
  width: .38rem;
  height: .38rem;
  text-align: center;
  color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fe666c;
}

/*===================================================
=                      报岗记录                     =
====================================================*/
.report-record-page {
  min-height: 100vh;
  background-color: #fff;
}

.report-record-page .calendar-wapper {
  border-bottom: .2rem solid #f7f7f7;
}

.report-record-page .record {
  padding: 0rem 0.3rem;
}

.report-record-page .record-header {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: .3rem;
  align-items: center;
}

.report-record-page .record-header:before {
  content: '';
  display: block;
  width: .6rem;
  height: .6rem;
  position: absolute;
  left: -.3rem;
  top: -.3rem;
  border-radius: 50%;
  background-color: #ff9600;
}

.report-record-page .record-header .lside {
  flex: 1;
}

.report-record-page .record-header .lside h3 {
  font-size: .3rem;
  color: #333;
  font-weight: normal;
}

.report-record-page .record-header .lside p {
  font-size: .26rem;
  color: #999;
  padding-top: .1rem;
}

.report-record-page .record-header .rside {
  color: #999;
  font-size: .26rem;
  display: flex;
  align-items: center;
}

.report-record-page .record-header .rside img {
  width: .12rem;
  margin-left: .1rem;
}

.report-record-page .record .item {
  padding: 0.36rem 0;
}

.report-record-page .record .item .set {
  padding-left: 0.5rem;
  background: url('../assets/shang.png') no-repeat left center;
  background-size: 0.3rem auto;
  font-size: 0.26rem;
  color: #999;
  line-height: 0.34rem;
  margin-bottom: 0.16rem;
}

.report-record-page .record .item:last-child .set {
  background: url('../assets/xia.png') no-repeat left center;
  background-size: 0.3rem auto;
}

.report-record-page .record .item .info {
  padding-left: 0.5rem;
}

.report-record-page .record .item .info .status {
  overflow: hidden;
  line-height: 0.36rem;
}

.report-record-page .record .item .info .status span {
  font-size: 0.34rem;
  line-height: 0.38rem;
  height: 0.38rem;
  color: #333;
  float: left;
  font-weight: bold;
  display: block;
}

.report-record-page .record .item .info .status i {
  display: block;
  float: left;
  font-size: 0.2rem;
  color: #00aeff;
  padding: 0.04rem 0.06rem;
  border-radius: 0.04rem;
  line-height: 1;
  border: 0.02rem solid #00aeff;
  margin-left: 0.2rem;
}

.report-record-page .record .item .info .status i.later {
  border: 0.02rem solid #ff9600;
  color: #ff9600;
}

.report-record-page .record .item .info .position {
  margin: 0.2rem 0;
  padding-left: 0.35rem;
  background: url('../assets/dizhi.png') no-repeat left center;
  background-size: 0.26rem auto;
  font-size: 0.24rem;
  color: #999;
  line-height: 1.1;
}

.report-record-page .record .item .info .links {
  overflow: hidden;
}

.report-record-page .record .item .info .links span {
  display: block;
  float: left;
  margin-right: 0.55rem;
  font-size: 0.24rem;
  color: #7096dc;
  line-height: 1.3;
}

.report-record-page .record-empty {
  text-align: center;
}

.report-record-page .record-empty img {
  width: .96rem;
  position: relative;
  left: .06rem;
}

.report-record-page .record-empty p {
  font-size: .24rem;
  color: #999;
}

.report-record-page .jumpa {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  right: 0.3rem;
  bottom: 1rem;
}

.report-record-page .jumpa img {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
}

/*===================================================
=                       月统计                      =
====================================================*/
.count-days-page .count-box {
  padding: .3rem;
  background-color: #fff;
}

.count-days-page .count-box .lside h3 {
  font-size: .52rem;
  color: #333;
}

.count-days-page .count-box .lside p {
  font-size: .26rem;
  color: #666;
}

.count-days-page .count-box .rside {
  color: #7096dc;
  font-size: .26rem;
}

/*===================================================
=                       工作                      =
====================================================*/
.work-page .notice {
  border-top: .2rem solid #f7f7f7;
  margin-bottom: .2rem;
  height: 1.24rem;
  background-color: #fff;
  padding: 0 .3rem;
}

.work-page .notice .lside {
  width: .3rem;
  margin-right: .2rem;
}

.work-page .notice .center {
  height: .94rem;
  position: relative;
  overflow: hidden;
}

.work-page .notice .rside {
  font-size: .26rem;
  color: #7096dc;
  padding: 0 0 0 .3rem;
}

.work-page .swiper-container {
  width: 100%;
  height: 100%;
}

.work-page .swiper-slide {
  text-align: left;
  font-size: .28rem;
  color: #666;
  background: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  align-items: center;
  line-height: .94rem;
}
